p {
  font-family: arial;
  margin-top: 0px;
  margin-bottom: 0px;
}

.music {
  background-color: rgb(51, 48, 48);
  width: 370px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
}

.install {
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

.add {
  color: white;
}