p, input {
  font-family: arial;
  margin-top: 0px;
  margin-bottom: 0px;
}

.email {
  color: rgb(78, 76, 76);
  margin-bottom: 5px;
}

.input-field {
  width: 395px;
  height: 25px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 4px;
  margin-bottom: 15px;
}

.agreement {
  margin-bottom: 15px;
}

.agree-join{
  width: 400px;
  text-align: center;
  background-color: rgba(74, 74, 214, 0.712);
  color: white;
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 30px;
  border: none;
}

